* {
	padding: 0;
	margin: 0;
	color: rgba(0,0,0,.5);

}
#modal {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid black;
	padding: 1rem;
	border-radius: .25rem;
	background-color: white;
	overflow-y: auto;
	max-height: 80vh;
}

#overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .7);
}

#modal.open {
	display: block;
}

#overlay.open {
	display: block;
}

body {
	height: 100vh;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	background-image: linear-gradient(to right bottom, rgb(138, 72, 219), rgb(193, 26, 82));
	letter-spacing: .5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	padding: 20px;
	font: 600 2.5em 'Raleway', sans-serif;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5em;
}

h2 {
	padding: 20px;
}

h3 {
	padding: 20px;
	font: 900 1em 'Raleway', sans-serif;
	text-align: center;
	text-transform: none;
	letter-spacing: 0.01em;
}

input {
	width: 50px;
	border: solid rgba(0, 0, 0, .7) 1px;
	border-radius: .15rem;
}

button {
	font-weight: bold;
	width: 120px;
	padding: 5px;
	margin: 20px;
	border: solid rgba(0, 0, 0, .7) 1px;
	border-radius: .15rem;
}

div {
	align-items: center;

}

ul {
	  list-style: none;
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	  justify-content: center;

}

li {

}

.box {
	width: 8em;
	height: 8em;
	position: relative;
	top: 0;
	right: 0;
	border: 1.5px solid rgba(0, 0, 0, .7);
	border-radius: .25rem;
	background-image: linear-gradient(to right bottom, rgb(138, 72, 219), rgb(193, 26, 82));
	margin: 0.5em;

}

.del {
	width: 4em;
	position: absolute;
	top: -15px;
	right: -15px;
}