*{
	padding: 0;
	margin: 0;
	color: rgba(0,0,0,.5);

}
body{
	height: 100vh;
	font: 'Raleway', sans-serif;
	text-align: center;
	background: linear-gradient (to right bottom, rgb(138, 72, 219), rgb(193, 26, 82));
	letter-spacing: .5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
h1{
	padding: 20px;
	font: 600 3em 'Raleway', sans-serif;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5em;
}
h2{
	padding: 20px;
}
h3{
	padding: 20px;
	font: 900 1em 'Raleway', sans-serif;
	text-align: center;
	text-transform: none;
	letter-spacing: 0.01em;
}
input{
	width: 50px;
	border-radius: 3px;
}
button{
	width: 120px;
	padding: 5px;
	margin: 20px;
	border-radius: 3px;
}
div{
	align-items: center;

}